.image {
    width: 56px;
    height: 56px;
    border: solid 2px #000000;
    margin:30px;
    margin-right:0;
    float: left;
}

.button{
    font-size:125%;
    font-weight:bold;
    padding:0.20em 0.4em;
    width: 225px;
    height: 60px;
    margin: 30px;
    margin-left: 0;
    border: solid 2px #000000;
    background-color: #FFFFFF;
}
