body {
    margin:0 0 0 0;
}

.main {
    margin-left:25px;
    margin-right:25px;
}

.image {
    width: 60px;
    height: 60px;
    border: solid 2px #000000;
    box-sizing:border-box;
    margin:15px;
    margin-right:0;
    margin-left:40px;
    float: left;
}

.button{
    font-size:60%;
    font-weight:bold;
    padding:0.20em 0.4em;
    width: 200px;
    height: 60px;
    margin: 15px;
    margin-right: 40px;
    margin-left: 0;
    border-right: solid 2px #000000;
    border-top: solid 2px #000000;
    border-bottom: solid 2px #000000;
    border-left:none;
    box-sizing:border-box;
    background-color: #FFFFFF;
    cursor:pointer;
}

.main{
    float:left;
    
}
.create{
    z-index:1500;
    position:fixed;
    bottom:50px;
    right:50px;
    width:40px;
    height:40px;
    background:#FF3333;
    border:1px solid #FF3333;
    -webkit-border-radius:70px;
    cursor:pointer;
}
.plus{
    width:26px;
    height:26px;
}


#id_1{
    margin-top:50px;
}
#id_2{
    margin-top:50px;
}
input#receive {
    padding: 5px 10px;
    font-size: 1em;
    background-color: #fffffD ;
    border-style: solid;
    
}
input#open2 {
    padding: 5px 10px;
    font-size: 1em;
    background-color: #fffffD ;
    border-style: solid;
    
}

.chkbox {
	margin:			0 0 10px 20px;
}
/* ラベルのスタイル　*/
.chkbox label {
	padding-left:		10px;			/* ラベルの位置 */
	font-size:		32px;
	line-height:		32px;
	display:		inline-block;
	cursor:			pointer;
	position:               relative;
	top:                    0px;

}

/* ボックスのスタイル */
.chkbox label:before {
	content:		'';
	width:			40px;			/* ボックスの横幅 */
	height:			40px;			/* ボックスの縦幅 */
	display:		inline-block;
	position:		absolute;
	left:			0;
	background-color:	#fff;
	box-shadow:		inset 1px 2px 3px 0px #000;
	border-radius:		6px 6px 6px 6px;

	top:                    25px;

}
/* 元のチェックボックスを表示しない */
.chkbox input[type=checkbox] {
	display:		none;
}
/* チェックした時のスタイル */
.chkbox input[type=checkbox]:checked + label:before {
	content:		'\2713';		/* チェックの文字 */ 
	font-size:		50px;			/* チェックのサイズ */
	color:			#fff;			/* チェックの色 */
	background-color:	#06f;			/* チェックした時の色 */
}
/*
タグ全体のcss
displayで横並びにする
padding-leftとbottomを0にして左下詰めにする。
width:100%にすることで横幅一杯の分割をおこなう。
list-styleをnoneにすることで<li>の点を削除
positionでフッダーに固定
テキストは中央揃え
*/
.tag{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding-left:0;
    bottom:0;
    margin:0px;
    width:100%; 
    list-style:none;
    box-sizing:border-box;
    position:fixed;
    text-align:center;
}

/*
分割を行う&右上角に丸みを帯びさせる&囲みの生成
*/
ul.tag li{
    -webkit-flex-grow:1;
    flex-grow:1;
    height:20px;
    cursor:pointer;    
    -webkit-border-radius:0px 10px 0px 0px;
    border:2px solid #000000;
}
/*
右上角に丸みを持たせる
width:100%はタグ名上のみだけでなく<li>の領域を選択可能にする。そのためのdisplay:block;
cursorの指定はここで行う。
*/
li label span{
    border-top-right-radius:10px;
    display:block;
    width:100%;
    height:100%;
    color:#000000;
    cursor:pointer;
    text-decoration:none;
}
/*
カーソルをタグ名上に持って行くと色が変わる
*/
span:hover{
    background:#FFCC00;
}
