

p {
  /*width: 1000px;*/
  border-bottom: solid 5px #000;
  }

/* html,body{
margin:0;
padding:0;
}
*/

table{
width:100%;
border:0;
}

body{
 margin:0;            /* ���ǉ� */
}


#title{
 margin:0;            /* ���ǉ� */
}

input.button3 {
    /* �����T�C�Y��1.4em�Ɏw�� */
    font-size: 1.4em;
    /* �����̑�����bold�Ɏw�� */
    font-weight: bold;
    /* �c������10px�A
     * ��������30px�̗]�����w�� */
    padding: 10px 30px;
    /* �w�i�F���Z���F�Ɏw�� */
    background-color: #32cd32;
    /* �����F�𔒐F�Ɏw�� */
    color: #fff;
    /* �{�[�_�[���Ȃ��� */
    border-style: none;
}
